<h1>All Kudos</h1>
<div class="d-flex justify-content-center">
  <table class="table table-borderless table-responsive table-hover shadow card-1 w-auto">
    <thead>
      <tr class="text-center", id="table__header">
        <th>Title</th>
        <th>Content</th>
        <th>Giver</th>
        <th>Receiver</th>
        <th>Company value</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% kudos.each do |kudo| %>
        <tr class="border-bottom">
          <td><%= kudo.title %></td>
          <td><%= kudo.content %></td>
          <td class="text-center"><%= kudo.giver.email %></td>
          <td class="text-center"><%= kudo.receiver.email %></td>
          <td class="text-center"><%= kudo.company_value.title %></td>
          <% if kudo.giver == current_employee %>
          <td class="btn-group">
          <% if policy(kudo).update? %>
            <%= link_to ' Edit', edit_kudo_path(kudo), class:"btn btn-outline-secondary btn-sm bi bi-pencil" %>
            <%= link_to ' Delete', kudo_path(kudo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm bi bi-trash2" %>
          <% end %>
          </td>
          <% else %>
          <td></td>
          <% end %>
        </tr>
      <% end %>   
    </tbody>
    <tfoot>
      <td class="text-center" colspan="6">
        <%= link_to ' New Kudo', new_kudo_path, class:"btn btn-warning btn-sm bi bi-file-earmark-plus" %>
      </td> 
    </tfoot>
  </table>
</div>

