<h2>Kudo</h2>

Title: <%= kudo.title %><br>
Content: <%= kudo.content %><br>
Giver: <%= kudo.giver.email %><br>
Recever: <%= kudo.receiver.email %><br>
<br>
<%= link_to 'Edit', edit_admin_kudo_path(kudo), class:"btn btn-secondary btn-sm" %> |
<%= link_to 'Back', admin_kudos_path, class:"btn btn-secondary btn-sm" %>
