<h1>Orders</h1>
<table class="table table-striped table-bordered w-auto shadow-sm">
  
  <%= link_to "Delivered", orders_path(status: 'delivered'), class: "btn btn-outline-dark btn-sm me-2" %>
  <%= link_to "Not delivered", orders_path(status: 'not_delivered'), class: "btn btn-outline-dark btn-sm me-2" %>  
  <%= link_to "All orders", orders_path, class: "btn btn-outline-dark btn-sm me-2" %>
  
  <thead  class="table-success">
    <tr class="text-center">
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Purchase time</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.reward_snapshot.title %></td>
        <td><%= order.reward_snapshot.description %></td>
        <td><%= order.reward_snapshot.price.to_i %></td>
        <td><%= order.created_at.strftime("%d-%m-%y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
