<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
   <%= link_to image_tag("https://media1.thehungryjpeg.com/thumbs2/ori_3490122_b6f8966043e8b6950749930f8a2c9475ee03de54_happy-smile-smiling-face-on-yellow-background-laughter-logo-funny-v.jpg", size:"40x30"), root_path, class:"navbar-brand" %>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <% if employee_signed_in? %>

        <li class="nav-item">
          <%= link_to "Rewards", rewards_path, class: "nav-link" %>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight">
      <ul class="navbar-nav">

        <span class="nav-link", id="Kudo_Points"> <%='<i class="bi bi-award"> </i>'.html_safe%><%=current_employee.kudo_points%></span>

        <li class="nav-item">
          <%= link_to '<i class="bi bi-box-arrow-right"> </i>Log Out'.html_safe, destroy_employee_session_path, method: :delete, class: "btn btn-outline-dark" %>
        </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_employee_registration_path, class: "nav-link" %>
          </li>
            
          <li class="nav-item">
            <%= link_to "Log In", new_employee_session_path, class: "nav-link" %>
          </li>

         <li class="nav-item">
            <%= link_to "Admin Log In", admin_root_path, class:"nav-link", style: "color:green"%>
         </li>
          
        <% end %>

      </ul>
    </div>
  </div>
</nav>
