<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient shadow">
  <div class="container">
    <i>
      <%= link_to "ERP", root_path, class:"navbar-brand mb-0 h1" %>
    </i>
  <% if employee_signed_in? %>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        

        <li class="nav-item">
          <%= link_to "Rewards", rewards_path, class: "nav-link bg-gradient btn-success" %>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight">
      <ul class="navbar-nav">

        <span class="nav-link bi bi-award", data-test-id="Kudo_Points"><%=current_employee.kudo_points%></span>

        <li class="nav-item">
          <%= link_to ' Log Out', destroy_employee_session_path, method: :delete, class: "btn btn-outline-light btn-sm bi bi-box-arrow-right" %>
        </li>
      </ul>
    </div>

        <% else %>

    <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight">
      <ul class="navbar-nav">

        <li class="nav-item">
          <%= link_to " Sign Up", new_employee_registration_path, class: "btn btn-outline-light btn-sm me-2 bi bi-person-plus" %>
        </li>
            
        <li class="nav-item">
          <%= link_to " Log In", new_employee_session_path, class: "btn btn-outline-light btn-sm me-2 bi bi-box-arrow-in-right" %>
        </li>
          
        <li class="nav-item">
          <%= link_to " Admin Log In", admin_root_path, class:"btn btn-outline-light btn-sm bi bi-person-workspace"%>
        </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>
